<div class="alert center">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Please make sure that you update your profile with your address.</strong>
</div>
<div id="wrap" style="padding-bottom: 1%"><h3 class="jumbo cool-font">USD/BTC: <span id="targetPrice"></span></h3></div>
<div id="cardshopcarousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#cardshopcarousel" data-slide-to="0" class="active"></li>
        <li data-target="#cardshopcarousel" data-slide-to="1"></li>
        <li data-target="#cardshopcarousel" data-slide-to="2"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item">
            <div class="row-fluid font-announce" style="text-align: center; padding: 1%">
                Suica Cards
            </div>
            <div class="row-fluid cool-font">
                <div class="span4 center">
                <p>Verification Card - Y50 (refunded)</p>
                <img src="https://dl.dropboxusercontent.com/u/8869944/suimo/suicaimg.jpg" width="70%" ><br>
                <a class="coinbase-button" data-code="3d21915e04aa1b8f848dd681e62de9f1" data-button-style="buy_now_small"
                data-custom="<%= u %>" href="https://coinbase.com/checkouts/3d21915e04aa1b8f848dd681e62de9f1">Pay With Bitcoin</a>
                <script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
                </div>
                <div class="span4 center">
                <p>Verification Card - Y50 (refunded)</p>
                <img src="https://dl.dropboxusercontent.com/u/8869944/suimo/suicaimg.jpg" width="70%" ><br>
                <a class="coinbase-button" data-code="3d21915e04aa1b8f848dd681e62de9f1" data-button-style="buy_now_small"
                   data-custom="<%= u %>" href="https://coinbase.com/checkouts/3d21915e04aa1b8f848dd681e62de9f1">Pay With Bitcoin</a>
                <script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
            </div>
                <div class="span4 center">
                <p>Verification Card - Y50 (refunded)</p>
                <img src="https://dl.dropboxusercontent.com/u/8869944/suimo/suicaimg.jpg" width="70%" ><br>
                <a class="coinbase-button" data-code="3d21915e04aa1b8f848dd681e62de9f1" data-button-style="buy_now_small"
                   data-custom="<%= u %>" href="https://coinbase.com/checkouts/3d21915e04aa1b8f848dd681e62de9f1">Pay With Bitcoin</a>
                <script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
            </div>
            </div>
        </div>
        <div class="item">
            <div class="row-fluid font-announce">
                <div class="row-fluid font-announce" style="text-align: center; padding: 1%">
                    Passmo Cards
                </div>
            </div>
            <div class="row-fluid cool-font">
                <div class="span4 center">
                    <p>Verification Card - Y50 (refunded)</p>
                    <img src="https://dl.dropboxusercontent.com/u/8869944/suimo/passmoimg.gif" width="65%"><br>
                    <a class="coinbase-button" data-code="3d21915e04aa1b8f848dd681e62de9f1" data-button-style="buy_now_small"
                       data-custom="<%= u %>" href="https://coinbase.com/checkouts/3d21915e04aa1b8f848dd681e62de9f1">Pay With Bitcoin</a>
                    <script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
                </div>
                <div class="span4 center">
                    <p>Verification Card - Y50 (refunded)</p>
                    <img src="https://dl.dropboxusercontent.com/u/8869944/suimo/passmoimg.gif" width="65%"><br>
                    <a class="coinbase-button" data-code="3d21915e04aa1b8f848dd681e62de9f1" data-button-style="buy_now_small"
                       data-custom="<%= u %>" href="https://coinbase.com/checkouts/3d21915e04aa1b8f848dd681e62de9f1">Pay With Bitcoin</a>
                    <script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
                </div>
                <div class="span4 center">
                    <p>Verification Card - Y50 (refunded)</p>
                    <img src="https://dl.dropboxusercontent.com/u/8869944/suimo/passmoimg.gif" width="65%"><br>
                    <a class="coinbase-button" data-code="3d21915e04aa1b8f848dd681e62de9f1" data-button-style="buy_now_small"
                       data-custom="<%= u %>" href="https://coinbase.com/checkouts/3d21915e04aa1b8f848dd681e62de9f1">Pay With Bitcoin</a>
                    <script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="row-fluid">
                <div class="row-fluid" style="text-align: center; padding: 1%">
                    <div class="font-announce"><p>Wallet Verfication</p></div>
                    <div class="font-cool">This is a small payment (Y50, refundable) that we use to verify your wallet in case
                    there are any identity discrepancies.  Some Bitcoin exchanges operate with shared wallets - so your payment
                    wallet may not be the same as your receiving wallet.  We use wallet verfication to make sure that you are the
                    true owner of your wallet. </div>
                </div>
            </div>
            <div class="row-fluid cool-font">
                    <div class="span4 offset4 center">
                    <img src="https://dl.dropboxusercontent.com/u/8869944/suimo/back.jpg" width="70%"><br>
                    <a class="coinbase-button" data-code="<%= buttonCodes[0] %>"
                       href="https://coinbase.com/checkouts/<%= buttonCodes[0] %>">Pay With Bitcoin</a>
                    <script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
                </div>

            </div>

        </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#cardshopcarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#cardshopcarousel" data-slide="next">&rsaquo;</a>
</div>

<script type="text/javascript" src="/js/countUp.js"></script>
<script>

    var from = 0;
    var to = 0;
    $.getJSON("https://data.mtgox.com/api/2/BTCUSD/money/ticker",function(result){
        to = result.data.last_all.value;
        from = result.data.last_all.value;
    })
    var demo;
    var updateCouter = function() {
        demo = null;
        from = to;
        $.getJSON("https://data.mtgox.com/api/2/BTCUSD/money/ticker",function(result){
            to = result.data.last_all.value
            demo = new countUp("targetPrice", from, to, 2, 10);
            demo.start();
        })
    }
    var c = function() {
        updateCouter();
        setTimeout(function() {
            d();
        }, 10000);
    }
    var d = function() {
        updateCouter();
        setTimeout(function() {
            c();
        }, 10000);
    }

</script>