
        <table class="table table-striped">
            <thead>
            <th>Payment ID</th>
            <th>Amount</th>
            <th>Product</th>
            <th>Refunded</th>
            </thead>
            <tbody>
            Total # of payments: <%= orders.length %>
            <% for(var i=(orders.length)-1; i>=0; i--) {%>
            <tr>
                <td><%= orders[i].pid %></td>
                <td><%= orders[i].amount %></td>
                <td><%= orders[i].pname %></td>
                <td><%= orders[i].refundstatus %></td>
            </tr>
            <% } %>
        </table>
